#message {
  width:80%;
  float:left;
  height:50px;
  border:groove;
  margin-left: 30px;
}

.card-body {
  height:530px;
  overflow-y:scroll;  
}

.send-btn {
  float:left;
  height:50px;
  border:solid;
  min-width:15%;
  margin-left:0px;
  background:#1F4C69;
  color:white;
}

.form-cnt {
  margin-left:2%;
  margin-right:2%;
  position:fixed;
  top:77%;
  bottom:0px;
  max-width:96%;
}

textarea {
  max-height:100px;
}

img {
  border-radius:5px;
}

.btn {
  margin:0px 10px;
  margin-bottom:20px;
}

.username-cont {
  display:inline;
  float:right;
}

.user-field {
  display:inline;
  width:50%;
}

.chat-heading {
  display:inline;
}

.user-heading {
  font-weight:500;
  font-size:20px;
}

ol ul{
  list-style-type: none;
}

.chat-zone {
  width: 100%;
}

.chat__sidebar {
  float: right;
  width: 20%;
  text-align: center;  
  margin-right:-1%;
  display: none;
}

.active-users-btn {
  float: right;
}
