#message {
  width:100%;
  float:left;
  min-height:80px;
  border:groove;
  margin-bottom:20px;
}

.card-body {
  height: 430px;
  overflow-y: scroll;
}

.send-btn {
  float:left;
  height:50px;
  border:groove;
  min-width:15%;
  margin-left:0px;
}

.form-cnt {
  margin-left:2%;
  margin-right:2%;
  position: fixed;
  bottom:10px;
  width:96%;
}

textarea {
  max-height:100px;
}

img {
  border-radius:5px;
}

.btn {
  margin:0px 10px;
  margin-bottom:20px;
}
